<html>
<head>
    <title> Yoga Template </title>
    <link rel="stylesheet" href="style.css" >
</head>
<body>



     <div style="background-color:white;" id="wrapper">
         <div id="header">
           
           <div id="header_top">
           <div id="logo">
<marquee scrolldelay ="500" direction ="up"  style="height:59px">
             <h1  style="color:Gold;" >SunRise <br><br><br><br> SunSet<h1></marquee>
               </div>
           
            <div id="cari">
                <from>
                         <input type="text" name="cari" placeholder="Search.....">   
                         <input type="Submit" values="go">
               </from>
            </div>
            </div>

           <div id="header_center">
                <div id="menu_wrapper">      
               <ul id ="menu">
               <li><a href="yoga.html">Home</a><li>
               <li><a href="Gallary.html">Gallary</a><li>
               <li><a href="about.html">About </a><li>
               <li><a href="contact.html">Contact</a><li>
 &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
 &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
 &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
 &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
 &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
 &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
 &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
 &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
 &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; 


               <li><a href="login.html">LOGIN</a><li>
&nbsp; &nbsp; 
&nbsp; &nbsp; 

               <li><a href="reg.html"> REGISTION</a><li>

                </ul>
            </div>

           <div id="header_bottom">
         <div id ="slider">
               <img src ="yo.PNG" alt="Yoga" title="slider bohongan">
               
             </div>
                  
           </div>
           </div>
<div>
<div>

<h1  style="color:green;" align="canter" >About Pure Yoga</h1>


<p>
Why we’re here
We believe in the power of yoga to help people lead happier, healthier and more balanced lives. With a community of dedicated and passionate teachers across Asia and North America, Pure Yoga offers exceptional teaching, facilities and environment that inspires people of all ages and abilities to make yoga part of their lives.
What we do
A sanctuary of strength and spirit in the heart of the city
We have a wealth of yoga studios across Asia, with prime locations in Hong Kong, Shanghai, Singapore and Taipei. Our reach went global with the opening of Pure Yoga in New York - a collaborative venture with Equinox, one of the leading lifestyle brands in the US.
</p></div>

<div>

<p>
Our studios offer over 1,600 classes each week in a diversity of yoga practices taught by a community of over 200 passionate and dedicated yoga teachers. 
Pure Yoga is committed to the ongoing development and education of our teachers. We hold regular workshops and in-house training, such as the bimonthly Maha Kula Gathering, our scholarship and internal mentorship programme.
Our teachers have all benefitted first-hand from regular yoga practices and are continuously encouraged to attend external workshops around the world.
Beginners never feel intimidated because our teachers never forget they were once beginners too - going at your own pace is always encouraged. 
Advanced students can deepen their practice amidst people who have travelled the world, learning and sharing the joys of yoga.
For those interested in training outside the studio, we have developed an online yoga video platform called MyPureYoga.com; enabling anyone on the go to take their practice with them. 
Here, you'll find a collection of videos featuring our community of teachers to supplement every need and style of practice.
Pure Yoga celebrates the diversity of yoga styles by offering a wide variety -
traditionalists will rejoice in Hatha Yoga, Ashtanga, Mysore, Yin Yoga, Pranayama and Meditation; contemporary practitioners will thrive on the likes of Power Yoga, 
Wall Rope Yoga, Aerial Yoga and yoga dance classes; ambitious students will relish the personalised pace and programme of Private Yoga. 
Complementing this premium yoga experience are workshops with guest yoga teachers from around the globe,
Teacher Trainings, Continuing Education for Teachers programmes, and retreats in idyllic locales that take yoga beyond the studio.
Whether you are an absolute beginner or an experienced Yogi, we welcome you to share our space and become part of Pure Yoga.
</p>
</div>
<div>
<h2  style="color:green;" >Our Mission</h2>
  <p>Yoga Now provides inspiring, soulful transformation through yoga classes and massages in an eco-friendly studio and in the workplace. We are committed to providing yoga and healing which creates a healthy body and promotes a long and peaceful life.

   Yoga Now has over 59 classes per week in a variety of yoga disciplines, Ashtanga, Vinyasa, Forrest, Yoga Basics and PreNatal yoga. We have a steam room and sauna, and 2 massage rooms for healing and relaxation in addition to our yoga offerings. We offer a well-regarded Teacher Training program (RYT-200) twice a year, with one session starting in March and another session starting in September, and Advanced Teacher Training (RYT-500) once a year.
        Our studio is built of all eco-friendly materials with earthen clay plasters on the walls, recycled blue jeans for insulation, and renewable bamboo floors.<p>
      </div>
   <div/>
</body>
</html>