<html>

<head>
  <title> Yoga Template </title>

  <link rel="stylesheet" href="stylesheet.css" />

  <link href="{{url_for('static',filename='./css/bootstrap.min.css')}}" rel="stylesheet">

</head>

<body>




  <div style="background-color:white;" id="wrapper">
    <div id="header">

      <div id="header_top">
        <div id="logo">
          <marquee scrolldelay="500" direction="up" style="height:59px">
            <h1 style="color:Gold;">SunRise <br><br><br><br> SunSet<h1>
          </marquee>
        </div>

        <div id="cari">
          <from>
            <input type="text" name="cari" placeholder="Search.....">
            <input type="Submit" values="go">
          </from>
        </div>
      </div>

      <div id="header_center">
        <div id="menu_wrapper">
          <ul id="menu">
            <li><a href="yoga.html">Home</a>
            <li>
            <li><a href="Gallary.html">Gallary</a>
            <li>
            <li><a href="about.html">About </a>
            <li>
            <li><a href="contact.html">Contact</a>
            <li>
              &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
              &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
              &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
              &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
              &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
              &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
              &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
              &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
              &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
              &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;


            <li><a href="login.html">LOGIN</a>
            <li>
              &nbsp; &nbsp;
              &nbsp; &nbsp;

            <li><a href="reg.html"> REGISTION</a>
            <li>

          </ul>
        </div>

        <div id="header_bottom">
          <div id="slider">
            <img src="yo.PNG" alt="Yoga" title="slider bohongan">

          </div>

        </div>
      </div>

      <div class="form-style-3">
        <form>
          <fieldset>
            <legend>Personal</legend>
            <label for="field1"><span>Name <span class="required">*</span></span><input type="text" class="input-field"
                name="field1" value="" /></label>
            <label for="field2"><span>Email <span class="required">*</span></span><input type="email"
                class="input-field" name="field2" value="" /></label>
            <label for="field3"><span>Phone <span class="required">*</span></span><input type="text" class="input-field"
                name="field3" value="" /></label>
            <label for="field4"><span>State</span><select name="field4" class="select-field">

                <option value="Andaman_and_Nicobar_Islands">Andaman and Nicobar Islands </option>
                <option value="Andhra_Pradesh"> Andhra Pradesh </opation>
                <option value="Arunachal_Pradesh"> Arunachal Pradesh </opation>
                <option value="Assam"> Assam </opation>
                <option value="Bihar"> Bihar </opation>
                <option value="Chandigarh"> Chandigarh </opation>
                <option value="Dadra_and_Nagar_Haveli"> Dadra and Nagar Haveli </opation>
                <option value="Daman_and_Diu"> Daman and Diu </opation>
                <option value="Delhi"> Delhi </opation>
                <option value="Gujarat"> Gujarat </opation>
                <option value="Haryana"> Haryana </opation>
                <option value="Himachal_Pradesh"> Himachal Pradesh </opation>
                <option value="Jammu_and_Kashmir"> Jammu and Kashmir </opation>
                <option value="Jharkhand"> Jharkhand </opation>
                <option value="Karnataka"> Karnataka </opation>
                <option value="Lakshadweep"> Lakshadweep </opation>
                <option value="Madhya Pradesh"> Madhya Pradesh </opation>
                <option value="Maharashtra"> Maharashtra </opation>
                <option value="Manipur"> Manipur </opation>
                <option value="Meghalaya">Meghalaya </opation>
                <option value="Mizoram"> Mizoram </opation>
                <option value="Nagaland"> Nagaland </opation>
                <option value="Odisha"> Odisha </opation>
                <option value="Puducherry"> Puducherry </opation>
                <option value="Punjab"> Punjab </opation>
                <option value="Rajasthan"> Rajasthan </opation>
                <option value="Sikkim"> Sikkim </opation>
                <option value="Tamil Nadu"> Tamil Nadu </opation>
                <option value="Telangana"> Telangana </opation>
                <option value="Tripura"> Tripura </opation>
                <option value="Uttar Pradesh"> Uttar Pradesh </opation>
                <option value="Uttarakhand"> Uttarakhand </opation>
                <option value="West Bengal"> West Bengal </opation>


              </select>
            </label>
          </fieldset>


          <fieldset>
            <legend>Message</legend>
            <label for="field6"><span>Message <span class="required">*</span></span><textarea name="field6"
                class="textarea-field"></textarea></label>
            <label><span>&nbsp;</span><input type="submit" value="Submit" /></label>
          </fieldset>
        </form>
      </div>


</body>

</html>