<html>
<head>
    <title> Yoga Template </title>
    <link rel="stylesheet" href="style.css" >
</head>
<body>



     <div style="background-color:white;" id="wrapper">
         <div id="header">
           
           <div id="header_top">
           <div id="logo">
<marquee scrolldelay ="500" direction ="up"  style="height:59px">
             <h1  style="color:Gold;" >SunRise <br><br><br><br> SunSet<h1></marquee>
               </div>
           
            <div id="cari">
                <from>
                         <input type="text" name="cari" placeholder="Search.....">   
                         <input type="Submit" values="go">
               </from>
            </div>
            </div>

           <div id="header_center">
                <div id="menu_wrapper">      
               <ul id ="menu">
               <li><a href="yoga.html">Home</a><li>
               <li><a href="Gallary.html">Gallary</a><li>
               <li><a href="about.html">About </a><li>
               <li><a href="contact.html">Contact</a><li>
 &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
 &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
 &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
 &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
 &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
 &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
 &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
 &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
 &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; 


               <li><a href="login.html">LOGIN</a><li>
&nbsp; &nbsp; 
&nbsp; &nbsp; 

               <li><a href="reg.html"> REGISTION</a><li>

                </ul>
            </div>

           <div id="header_bottom">
         <div id ="slider">
               <img src ="yo.PNG" alt="Yoga" title="slider bohongan">
               
             </div>
                  
           </div>
           </div>

           <div id="content_center">
              <div class="cc_news">
            <h4>1. Slow Stretching Yoga Asana for Neck: </h4>
             <img src="1.jpg">
              <p> To start with yoga asanas, one should get started with the basic exercises first like slow neck stretches.
                    It is recommend to perform few repetitions of this yogic slow neck stretches as it eases the neck tension and strain.
                     This basic yoga pose can be easily done standing anywhere, even sitting on your chair!</p>
                           <a href="#"> Read More</a>
                             </div>

<div class="cc_news">
            <h4>2. Full Body Yoga Tadasana – The Mountain Pose</h4>
             <img src="2.jpg">
             <p> Tadasana is also known as mountain pose and it is one of the best yoga asanas.
                   Practicing this yogasana regularly every morning gives a good massage to our hands, back, spine and the whole body. 
                    This is the most recommended asana for increasing height as well.</p>
                           <a href="#"> Read More</a>
                             </div>

<div class="cc_news">
            <h4>3. Standing Forward Fold Pose – Uttanasana Yoga Benefits: </h4>
             <img src="3.jpg">
              <p>Uttanasana is a forward bending pose which relaxes us from stress and anxiety. 
                   And with the arm bind, this standing forward bend variation provides a deep shoulder stretch. 
                   By binding the hands, it also allows the arms to stretch and tighten the shoulders to relax. It also brings some blood back to the brain while giving a great stretch to the legs.</p>
                           <a href="#"> Read More</a>
                             </div>

           </div>



           <div id="content_center">
              <div class="cc_news">
            <h4>4. The Triangle Pose – Trikonasana Yoga for Pregnancy: </h4>
             <img src="Trikonasana.jpg">
              <p> This trikonasana exercise is stretches and strengthens the muscles along with improving the functions of our body. 
                    This is a good yoga exercise for pregnant women. It helps in reducing blood pressure, stress and anxiety and also improves the functions of the blood through the entire body. 
                      This simple yogasana improves our balance & concentration power. 
                      this asana also removes fats from waist and thighs.</p>
                           <a href="#"> Read More</a>
                             </div>

<div class="cc_news">
            <h4>5. Bow Pose – Dhanurasana Yoga for Reducing Fat:</h4>
             <img src="Dhanurasana2.jpg">
             <p> Dhanurasana is very effective in weight loss program. this yoga pose helps in reducing the belly fat very easily. 
                   It strengthens the ankles, thighs, groins, chest and abdominal organs and spinal cord. 
                   This yoga posture improves the functions of kidney, pancreas, liver, small and big intestine.
                   It also acts as a stress reliever and gives flexibility to the back. 
                     It improves the function of digestion and removes gases.</p>
                           <a href="#"> Read More</a>
                             </div>

<div class="cc_news">
            <h4>6. List of Yoga Surya Namaskar (Sun Salutation): </h4>
             <img src="blns.PNG">
              <p>A full round of Surya namaskar is considered to be two sets of the twelve poses, with a change in the second set where the opposing leg is moved first. 
                  It improves flexibility, strength, balance, reduces stress and anxiety, reduces symptoms of lower back pain, shortens labor and improves birth outcomes, and reduces sleep disturbances and hypertension. 
                   It also increases energy and decreases fatigue and are very beneficial for asthma & chronic diseases. 
                    This is a basic yogasana set to stretch your legs and reduce weight. </p>
                           <a href="#"> Read More</a>
                             </div>

           </div>


           <div id="content_center">
              <div class="cc_news">
            <h4>7. Kapalbhati Pranayama Yoga Pose with More Benefits: </h4>
             <img src="kalapabathi.jpg">
              <p> Kapalbhati pranayama yoga is the most recommended breathing exercise which cures our stomach disorder completely and loses weight. 
                    Practicing 5 minutes kapalbhati pranayama regularly removes the toxins and increases metabolism. It also cures constipation, acidity, diabetes, Asthma and all kinds of Respiratory troubles, sinus and even hair loss.
                      This yoga pose effective in weight loss (mainly belly fats).
                        This is superb yoga pose for ever</p>
                           <a href="#"> Read More</a>
                             </div>

<div class="cc_news">
            <h4>8. Bound Angle Pose – Baddha Konasana Yoga for Beginners:</h4>
             <img src="baddha-konasana.jpg">
             <p> This Pose of yoga for beginners helps to open up the hips and ease sciatica discomfort that can be made worse by sitting for long periods.
                   The sciatic nerve starts in the lower back and runs down both leg, and sciatic nerve pain can occur when the nerve is somehow compressed. 
                    Long commutes and sitting for long periods of time exacerbates it.</p>
                           <a href="#"> Read More</a>
                             </div>

<div class="cc_news">
            <h4>9. Relaxing Yoga Asana – Eagle Twist Yoga:  </h4>
             <img src="Eagle-Twist.jpg">
              <p>This yoga asana helps in relaxing and it also an excellent way to increase side-to-side spinal flexibility. 
                   With regular practice of this yoga exercise every day one can relieve pain in the lower belly and lower back.</p>
                           <a href="#"> Read More</a>
                             </div>

           </div>

           <div id="content_center">
              <div class="cc_news">
            <h4>10. Headstand Pose – Sirsasana Yoga Pose for Better Health: </h4>
             <img src="Hastapadasana-Forward-Bend-Pose.jpg">
              <p> With regular practice of this yoga posture it cures insomnia (sleeping disorder), spine problems and also improves concentration powers & mental balance. 
                    It increases the blood circulation in brain and improves the brains functions and memory. 
                     Even people suffering from liver disease, poor blood circulation and headache should perform this yoga asana regularly.</p>
                           <a href="#"> Read More</a>
                             </div>

<div class="cc_news">
            <h4>11. Benefits of Yoga Sarvangasana Pose:</h4>
             <img src="bre.PNG">
             <p> This yoga posture strengthens and cures back pain, improves resistance power of the body, keeps our face bright and removes dark circle and those suffering from sleep disorder it promotes deep restful sleep. 
                   It helps in weight loss when practiced on a regular basis. 
                    It also improves blood circulations, functions of digestion, controls the blood sugar level and corrects the improper functioning of pancreas.</p>
                           <a href="#"> Read More</a>
                             </div>

<div class="cc_news">
            <h4>12. Paschimottanasana Yoga Pose (Forward Bend Pose):  </h4>
             <img src="paschimottanasana.jpg">
              <p>Paschimottanaasana covers the stretching of the whole body from our head to heels. 
                  This asana is recommended especially for women after delivery to reduce belly fat and toning the abdominal pelvic organs. 
                   It strengthens the back muscles as well as very useful for increasing height. It stretches the spine and brings more flexibility in our body. </p>
                           <a href="#"> Read More</a>
                             </div>

           </div>

           <div id="content_center">
              <div class="cc_news">
            <h4>13. Plough Pose – Halasana Yoga Pose Benefits:</h4>
             <img src="Plough-Pose2.jpg">
              <p> Halasana is also known as Plough pose which strengthens our back muscles and gives flexibility. It cures indigestion and constipation as well as reduces stress. It stimulates the abdominal organs and cure abdominal problems. 
                   People suffering from diabetes should do this regularly. It helps to make spinal cord strong and flexible, strengthens the abdominal muscles, reduces stress, and cures the symptoms of menopause.</p>
                           <a href="#"> Read More</a>
                             </div>
<div class="cc_news">
            <h4>14. Half Plough Pose – Ardha Halasana Benefits for Health :</h4>
             <img src="hasta-uttanasana.jpg">
             <p> Half Plough Pose is similar to Uttanpadasana which is good for improving the functions of abdominal organs. 
                   This easy yoga asana stimulates abdominal organs very fast and cures constipation and indigestion. 
                    It also reduces belly fats and tones the thigh and hip muscles overall abdominal muscles. 
                       It cures stomach disorders and improves digestion, appetite, removes gases and is useful to cure arthritis and lumbar spondylitis</p>
                           <a href="#"> Read More</a>
                             </div>


<div class="cc_news">
            <h4>15. Cobra Pose – Bhujangasana Yoga for Lose Weight:  </h4>
             <img src="cobra-pose.jpg">
              <p>Bhujangasana (cobra pose) gives a excellent result for those who want to lose weight and increase metabolism. 
                   This pose improves the function of liver, kidney, pancreas and gall bladder. It cures insomnia (sleeping disorder), spine problems, indigestion and constipation naturally. 
                     Those suffering from liver disease, headache, poor blood circulation, can be cured with this asana. </p>
                           <a href="#"> Read More</a>
                             </div>

           </div>

           <<div class="cc_news">
            <h4>16. Pavanamuktasana Yoga Pose with Benefits (Wind Removing Asana):</h4>
             <img src="Prasarita-Padottanasana.jpg">
             <p> Pavanamuktasana is really effective in removing gases from the stomach and improving the digestive system. 
                  This asana is very good for all the abdominal organs; it also cures acidity and reduces fat. It also strengthens back muscle and cures back pain.
                   For getting a flat stomach, one should perform this asana on a regular basis. 
                    This is one of the simplest yoga poses for beginners.</p>
                           <a href="#"> Read More</a>
                             </div>
                             </div>

<div class="cc_news">
            <h4>17. The Raised-Leg Pose – Uttana Padasana Yoga Posture:</h4>
             <img src="Uttanapadasana.jpg">
             <p> Uttana padasana, the raised leg pose is beneficial for those having back pain and stomach disorder. It is good for strengthening the abdominal muscles. 
                  We can practice this asana by raising one leg at a time also. For getting flat and strong abs this asana works as a wonder. 
                    It is helpful for those who suffer from gas problems, arthritis pain, heart problems and waist & back pain.</p>
                           <a href="#"> Read More</a>
                             </div>

<div class="cc_news">
            <h4>18. Bridge Pose – Setu Bandhasana Yoga Pose:</h4>
             <img src="bridge-pose.jpg">
             <p> We generally forget about doing any exercise meant for strengthening our legs as we care more on our upper body part appearance.
                   But we spend most of the hours on our legs only, so we should start workout meant for strengthens our legs.
                    This pose, setu bandhasana strengthens the legs, back neck and chest. It provides great balancing power to our body.</p>
                           <a href="#"> Read More</a>
                             </div>
           </div>


</body>
</html>