<html>
<head>
<title> Registration  From </title>
<link rel="stylesheet " type="text/css"href="style3.css">
</head>

<body>

<form action ="/reg" method="post">

   <h1>Registration  From </h1>

  

<div class="register">

<label>First Name :  </label> <br>
<input type="text" name="First_Name" id="name" placeholder="Enter your Name"><br><br>

<label>Last Name :  </label> <br>
<input type="text" name="Last_Name" id="name" placeholder="Enter your Last Name"><br><br>

<label>Mobile  :  </label> <br>

<input type="text" name="Mobile" id="name" placeholder="Enter your Mobile No"><br><br>

<label>E-Mail :  </label> <br>
<input type="text" name="EMail" id="name" placeholder="Enter your E-Mail"><br><br>

<label>Password :  </label> <br>
<input type="text" name="Password" id="name" placeholder="Enter your Password"><br><br>

<label>Confrom Password :  </label> <br>
<input type="text" name="Confrom_Password" id="name" placeholder="Enter your Confrom Password"><br><br>

<input type="Radio" name="Sex" id="Sex"><span id="male">&nbsp; Male </span>&nbsp;&nbsp;

<input type="Radio" name="Sex" id="Sex"><span id="fmale">&nbsp; Female </span>&nbsp;&nbsp;

<input type="Radio" name="Sex" id="Sex"><span id="other">&nbsp; Other </span>&nbsp;&nbsp;<br>
<br>

<input type="submit" value="submit" id="sub">

</form>
</body>
</html>