<html>
<head>
    <title> Yoga Template </title>


    
<link rel=stylesheet type=text/css href="{{ url_for('static', filename='css/bootstrap.min.csss') }}">

</head>
<body>



     <div style="background-color:white;" id="wrapper">
         <div id="header">
           
           <div id="header_top">
           <div id="logo">

<marquee scrolldelay ="500" direction ="up"  style="height:59px">

<img src ="sun1.gif" alt="Yoga" title="slider bohongan"/>

             </marquee>

               
</div>


           
            
            </div>

           <div id="header_center">
                <div id="menu_wrapper">      
               <ul id ="menu">
               <li><a href="yoga.html">Home</a><li>
               <li><a href="Gallary.html">Gallary</a><li>
               <li><a href="about.html">About </a><li>
               <li><a href="contact.html">contact</a><li>

 &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
 &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
 &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
 &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
 &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
 &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
 &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
 &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
 &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; 


               <li><a href="login.html">LOGIN</a><li>
&nbsp; &nbsp; 
&nbsp; &nbsp; 

               <li><a href="reg.html"> REGISTION</a><li>


                </ul>
            </div>

           <div id="header_bottom">
         <div id ="slider">
               <img src ="yo.PNG" alt="Yoga" title="slider bohongan">
               
             </div>
                  
           </div>
           </div>
         
         <div id="content">
           
           <div id="content_top">
             <h2  style="color:green;" >Yoga in our Life </h2>
             <p>Yoga is 99% pratice and 1 % theory.................. Many people are first drawn to
                 Yoga as a way to keep their bodies fit and supple. Others come seeking relief or help for a specific ailment like tension or backache.
                  Whatever your reason is, Yoga can be a tool in giving you both what you came for,To understand what 
                   Yoga is all about, you need to experience it for yourself. 
                    Yoga makes you discover your true nature, a state of inner peace, through the practice of toning and relaxing your body and relaxing your mind. 
                     Yoga helps in realizing one's self, in finding what one seeks - consciously or unconsciously. 
                      Controlling the mind will give you the ability to do a lot of things,
                       it will set you free from your illusions and preconceptions that prevents you from fulfilling yourself.</p>
           </div>


           <div id="content_center">
              <div class="cc_news">
            <h2  style="color:green;" > Basic Yoga classes </h2>
             <img src="blns.PNG">
              <p>sent vibu lum molestie lacuiirhs. Aenean non ummy hendreriauris Phasellllus.
                   Vestibuum molestie lacuiirhs. Aenean non ummy hen dreriauris. Phasellus porta.
                     Fusce suscipit varius mium sociis totdnat ibuset magis dis partur ient.
                      Montes, nascetur ridiculus mus.
                       Nulla dui. Fusce feugiatle suada odio. Morbi nunc odio, gravida at, cursus nec, luctus a, lorem. </p>
                           <a href="#"> Read More</a>
                             </div>

<div class="cc_news">
            <h2  style="color:green;" > Advanced Training </h2>
             <img src="bre.PNG">
              <p>sent vibu lum molestie lacuiirhs. Aenean non ummy hendreriauris Phasellllus.
                   Vestibuum molestie lacuiirhs. Aenean non ummy hen dreriauris. Phasellus porta.
                     Fusce suscipit varius mium sociis totdnat ibuset magis dis partur ient.
                      Montes, nascetur ridiculus mus.
                       Nulla dui. Fusce feugiatle suada odio. Morbi nunc odio, gravida at, cursus nec, luctus a, lorem. </p>
                           <a href="#"> Read More</a>
                             </div>

<div class="cc_news">
            <h2  style="color:green;" > New program  </h2>
             <img src="blns.PNG">
              <p>sent vibu lum molestie lacuiirhs. Aenean non ummy hendreriauris Phasellllus.
                   Vestibuum molestie lacuiirhs. Aenean non ummy hen dreriauris. Phasellus porta.
                     Fusce suscipit varius mium sociis totdnat ibuset magis dis partur ient.
                      Montes, nascetur ridiculus mus.
                       Nulla dui. Fusce feugiatle suada odio. Morbi nunc odio, gravida at, cursus nec, luctus a, lorem. </p>
                           <a href="#"> Read More</a>
                             </div>

           </div>
           <div id="content_bottom">
          <div class ="cb_news">
               <h2 style="color:green;"> History of Yoga </h2>
              <p>Yoga is a 5000 year old tradition. In India monks
                       went into seclusion for years with the goal of
                           creating a dis-ease free strong body. The original
                              intention was to be able to sit in meditation for
                                hours but with a achy body that is impossible to do.
                                   The postures of yoga were each created for a
                                       specific health purpose. To Detoxify, realign
                                      musculature, strengthen muscle, and create flexibility.
                                 Along with correcting the fallacies of the
                            body, these yogis went about trying to find
                       how to correct fallacies of the mind. An
               entire philosophy was created, based solely
         around leading a human being finding his or
       her bliss. The teachings were so dead -on
that they are still practiced 5000 years later. </p>
                           <a href="#"> Read More</a>
                            </div>
<div id="content_bottom">
          <div class ="cb_news">
               <h2 style="color:green;"> The Benefits of Yoga  </h2>
              <p>The word yoga is Sanskrit for Yoke, or union. In
the practice of yoga we seek to create union
between the mind and body<br>
1.Yoga is the perfect example of holistic health
because of this combination of mind and body.
After all the body cannot exist without the mind
and vice versa.<br>
2.By repairing the body, we are more able to
repair the mind. If you feel tense in the neck,
shoulders, or hips, you’ll find it more difficult to
relax and be happy.<br>
3.In order to do this Yoga is comprised of the
asana (physical postures) and a philosophy that
offers tools to finding true, lasting happiness. </p>
                           <a href="#"> Read More</a>
                           </div>
                          </div>
                         </div>
                        </div>
         <div id="footer">
<p> Create &copy; By K & K 2017</p>

</div>
</div>


</body>
</html>